#designer {
  scroll-behavior: smooth !important;
}
#designer .container-home {
  display: flex;
  align-items: center;
  min-height: 100%;
}
#designer .container-home .color-block {
  background-color: #ffb400;
  position: fixed;
  height: 200%;
  width: 100%;
  left: -83%;
  top: -50%;
  transform: rotate(-15deg);
  z-index: -1;
}
#designer .container-home .home-details-container {
  width: 100%;
  height: 100vh;
}
#designer .image img {
  width: 100%;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: calc(100vh - 120px);
  z-index: 1;
  border-radius: 30px;
  position: relative;
  left: 40px;
  top: 0;
  box-shadow: 0 0 7px rgb(0, 0, 0);
}
#designer .col-lg-8 .hometext {
  max-width: 600px;
  margin: 0 auto;
}
#designer .col-lg-8 .hometext h1 {
  font-size: 51px;
  line-height: 62px;
  font-weight: 700;
  position: relative;
  padding-left: 70px;
  margin: 18px 0 10px;
}
#designer .col-lg-8 .hometext h1::before {
  content: "";
  background-color: #ffb400;
  position: absolute;
  left: 0;
  top: 29px;
  height: 4px;
  width: 40px;
  border-radius: 10px;
}
#designer .col-lg-8 .hometext h1 span {
  display: block;
}
#designer .col-lg-8 .hometext p {
  margin: 15px 0 28px;
  font-size: 16px;
  line-height: 35px;
}
#designer .col-lg-8 .hometext .button {
  border: 1px solid #ffb400;
  overflow: hidden;
  display: inline-block;
  line-height: 1.4;
  border-radius: 35px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.25s ease-in-out;
  text-transform: uppercase;
  text-decoration: none !important;
  position: relative;
  z-index: 1;
  padding: 16px 70px 16px 35px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  background: rgba(46, 57, 69, 0.3);
  outline: none !important;
  cursor: pointer !important;
  margin: 0;
}
#designer .col-lg-8 .hometext .button::before {
  content: "";
  background-color: #ffb400;
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.3s ease-out;
}
#designer .col-lg-8 .hometext .button .button-text {
  position: relative;
  z-index: 2;
  color: #fff;
  transition: all 0.3s ease-out;
}
#designer .col-lg-8 .hometext .button .button-icon {
  background-color: #ffb400;
  position: absolute;
  right: -1px;
  top: -1px;
  bottom: 0;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  color: #fff;
  border-radius: 50%;
}
#designer .col-lg-8 .hometext .button:hover::before {
  transform: translateX(0);
}
#designer .col-lg-8 span {
  color: #ffb400;
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  #designer .col-lg-8 .hometext h1 {
    font-size: 42px;
    line-height: 52px;
  }
}
@media screen and (max-width: 1200px) {
  #designer .col-lg-8 .hometext h1 {
    padding-left: 0;
  }
}
@media screen and (max-width: 992px) {
  #designer .col-lg-8 {
    text-align: left !important;
  }
}
@media screen and (max-width: 1200px) {
  #designer .col-lg-8 .hometext h1::before {
    display: none;
  }
}
@media screen and (max-width: 1100px) and (min-width: 992px) {
  #designer .col-lg-8 .hometext {
    max-width: 450px;
  }
}
@media screen and (max-width: 992px) {
  #designer .col-lg-8 .hometext {
    max-width: 550px;
    text-align: center;
    padding-left: 5rem;
  }
}
@media screen and (max-width: 992px) {
  #designer .image {
    margin-top: 10rem;
  }
  #designer .image img {
    border-radius: 50%;
    width: 270px;
    height: 270px;
    border: 4px solid #252525;
    margin: 0 auto;
  }
}
@media screen and (min-width: 576px) {
  #designer .image img {
    display: block;
  }
}
@media screen and (max-width: 576px) {
  #designer .image img {
    display: block;
  }
}
@media screen and (max-width: 992px) {
  #designer .container-home .home-details-container {
    margin: 0 auto;
    display: block;
  }
  #designer .container-home .home-details-container .col-6 {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  #designer .col-lg-8 .hometext h1 {
    font-size: 38px;
    line-height: 48px;
    margin: 29px 0 13px;
  }
}
@media screen and (max-width: 992px) {
  #designer .col-lg-8 .hometext p {
    margin: 10px 0 23px;
    font-size: 15px;
    line-height: 30px;
  }
}/*# sourceMappingURL=home.css.map */