body {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  line-height: 1.6;
  position: relative;
  background-size: cover;
  background-position: 50%;
  height: 100%;
  width: 100%;
  background-color: #111;
}
body::-webkit-scrollbar {
  display: none;
}

.dark {
  background-color: #333 !important;
  color: #fff !important;
}
.dark input, .dark textarea {
  background-color: #333 !important;
  color: #fff !important;
}

.light {
  background-color: #fff !important;
  color: #333 !important;
}
.light input, .light textarea {
  background-color: #fff !important;
  color: #333 !important;
}

.header-home-icon {
  width: 2rem;
  height: 2rem;
  fill: #fff;
}

.nav {
  position: fixed;
  top: 27%;
  right: 30px;
  display: flex;
  opacity: 1;
  align-items: center;
  z-index: 1;
}
.nav .verticalnav {
  text-align: center;
}

.nav .verticalnav li {
  list-style: none;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  transition: 0.3s;
  margin: 20px 0;
  border-radius: 50%;
  background: #2b2a2a;
  cursor: pointer;
  padding: 6px;
}

.nav .verticalnav li:hover {
  background-color: #ffb400;
}

.nav .verticalnav li:hover h2 {
  opacity: 1;
  transition: all 0.3s;
  right: 27px;
  background-color: #ffb400;
  border-radius: 30px 0 0 30px;
  margin: 0;
  text-align: center;
}

.nav .verticalnav li a {
  background: transparent;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  transition: 0.3s;
}

.nav .verticalnav li a i {
  font-size: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  text-align: center;
  top: 15px;
  color: #fff;
  position: absolute;
}

.nav .verticalnav li a h2 {
  position: absolute;
  right: 0;
  top: 0;
  font-weight: bolder;
  font-size: 14px;
  padding: 0 23px 0 16px;
  opacity: 0;
  height: 50px;
  line-height: 50px;
  z-index: -1;
  color: #fff;
  transition: all 0.3s;
  border-radius: 30px;
  text-transform: uppercase;
  margin: 0;
}

.nav .verticalnav li a .home {
  width: 9em;
}

.nav .verticalnav li a:hover {
  opacity: 1;
  transition: all 0.3s;
  right: 27px;
  margin: 0;
  text-align: center;
}

.bi {
  position: fixed;
  right: 30px;
  top: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  font-size: 30px;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  body .nav {
    left: 0;
    right: auto;
    bottom: 0;
    top: auto;
    transform: none;
    width: 100%;
    display: block;
    background: #2b2a2a;
    padding: 8px;
    z-index: 10;
  }
  body .nav .verticalnav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0;
  }
  body .nav .verticalnav li {
    margin: 0 !important;
    width: 45px !important;
    height: 45px !important;
  }
  body .nav .verticalnav li a i {
    top: 14px;
  }
  body .nav .verticalnav li a h2 {
    display: none;
  }
  body .nav .verticalnav li:hover a {
    background-color: #ffb400;
  }
}
/*# sourceMappingURL=about.css.map *//*# sourceMappingURL=nav.css.map */